.Filter {
  @include flex-container(row, flex-start, center);

  .content {
    @include flex-container(row, flex-start, center);
    width: 80vw;
    gap: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;

    .category {
      padding: 8px 16px;
      font-size: 1.2rem;

      .name {
        color: $content-color;
        padding: 2px 0;
        cursor: pointer;
      }
      .name:hover {
        color: $secondary-color;
      }
      .underline {
        width: 0;
        transition: $fastAnimation;
        border: none;
      }
      .chosenUnderline {
        @include flex-container(row, flex-start, center);
        width: 100%;
        border: 1px solid;
      }
    }

    .chosenCategory {
      color: $secondary-color;
      font-size: 1.4rem;
    }
  }
  .content::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .Filter {
    height: 120px;
    @include flex-container(row, center, center);

    .filter-area {
      display: flex;
      justify-content: center;
    }
  }
}
