@import "../../styles/variables";
@import "../../styles/mixins";

.Filter {
  height: 130px;
  @include flex-container(row, flex-start, center);

  .filter-area {
    @include flex-container(row, flex-start, center);
    width: 100vw;
    gap: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;

    .filter-element {
      padding: 8px 16px;
      cursor: pointer;
      font-size: 1.2rem;

      .filter-btn {
        color: $content-color;
        padding: 2px 0;

        &:hover {
          color: $secondary-color;
        }
      }
      .filter-line {
        width: 0;
        transition: 0.35s;
        border: none;
      }
      .chosen-category-line {
        @include flex-container(row, flex-start, center);
        width: 100%;
        border: 1px solid;
      }
    }

    .chosen-category {
      color: $secondary-color;
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .Filter {
    height: 120px;
    @include flex-container(row, center, center);

    .filter-area {
      display: flex;
      justify-content: center;
    }
  }
}
