@import "../../styles/variables";
@import "../../styles/mixins";

.Header {
  @include flex-container(row, space-between, center);
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: transparent;
  z-index: 3;
  padding: 10px 25px;
  transition: all 0.35s ease;

  .hamburger-menu {
    font-size: 1.6rem;
    display: flex;
    pointer-events: all;
  }

  .header-logo {
    width: 150px;
  }
  .header-list {
    display: none;
    pointer-events: all;
  }
}
.scrolled-header {
  background-color: $contrast-color;
}

@media screen and (min-width: 800px) {
  .Header {
    .hamburger-menu {
      font-size: 1.4rem;
      display: none;
      pointer-events: none;
    }
    .header-list {
      @include flex-container(row, space-evenly);
      pointer-events: all;
      list-style-type: none;
      width: 50%;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
