@import "../../styles/variables";
@import "../../styles/mixins";

.Header {
  @include flex-container(row, space-between, center);
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: transparent;
  z-index: 3;
  padding: 10px 25px;
  transition: all 0.35s ease;

  .hamburgerMenu {
    font-size: 1.6rem;
    display: flex;
    pointer-events: all;
    cursor: pointer;
  }
  .hamburgerMenu:hover {
    animation: flip-item 2.5s infinite;
  }
  .logo {
    width: 150px;
  }
  .list {
    display: none;
    pointer-events: all;
    cursor: pointer;

    li:hover {
      animation: flip-item 2.5s infinite;
    }
  }
}
.scrolledHeader {
  background-color: $contrast-color;
}

@media screen and (min-width: 800px) {
  .Header {
    .hamburgerMenu {
      font-size: 1.4rem;
      display: none;
      pointer-events: none;
    }
    .list {
      @include flex-container(row, space-evenly);
      pointer-events: all;
      list-style-type: none;
      width: 50%;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}

@keyframes flip-item {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}
