@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: "Edu NSW ACT Foundation", cursive;
}
